/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


*{
    margin: 0%;
}

                /*------------------
                    form styles
                ------------------*/

.contact-form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.contact-form_container h2{
    text-justify: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #182e4f;
    text-align: center;
}

.form-container{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    padding: 2rem;
    padding-right: 3rem;
    border-radius: 10px;
    width: 50%;
}

.input-group{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.input-group label{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #182e4f;
}

.input-group input{
    width: 100%;
    height: 29px;
    border-radius: 11px;
    border: 2px solid #C7C7C7;
    background: #F8F8F8;
    padding-left: 1rem;
}

.input-group input::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.input-group  textarea{
    width: 100%;
    height: 70px;
    border-radius: 11px;
    border: 2px solid #C7C7C7;
    background: #F8F8F8;
    padding-left: 1rem;
    padding-top: 1rem;
}

.input-group  textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.form-txt{
    display: flex;
    justify-content: space-between;
}

.form-txt a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-decoration: none ;
    color: #93a0b4;
}