/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


*{
    margin: 0%;
}

                /*------------------
                    footer container
                ------------------*/

.footer-container{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    width: 950px;
    height: 130px;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
}

.img-pool{
 height: 180px;
 margin-left: -95px;
}

.register-mail_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;

}
.register-mail_container h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #182e4f;
}

.register-mail_container p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #182e4f;
}

.input-container{
    display: flex;
    gap: 0.5rem;
}

.input-container input{
    width: 300px;
    border-radius: 5px;
    border: 2px solid #C7C7C7;
}

.input-container::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #BCBCBC;
}

.navar-footercontainer{
    background-color: #26436F;
    width: 100%;
    height: 180px;
    border-radius: 40px 0px 0px 0px;
    margin-top: -60px;
    position: relative;
    
}

                /*------------------
                    Navar styles
                ------------------*/

                .navar-content_footer{
                    padding-bottom: 0.5rem;
                    padding-right: 3rem;
                    padding-left: 3rem;
                    padding-top: 7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 8;
                }
                
                                /*------------------
                                    navar styles
                                ------------------*/
                
                .navar-footer{
                    display: flex;
                    justify-content: space-between;
                }
                
                .navigation-var_footer{
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                }
                
                .navigation-var_footer li{
                    list-style-type: none;
                }
                
                .navigation-var_footer a{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                }
                
                .navigation-var_footer a:hover{
                    text-shadow: 2px 2px 2px black;
                }
                
                .navigation-var_footer li::after{
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: #ffffff;
                    display: block;
                    transition: all 300ms;
                    
                }
                
                .navigation-var_footer li:hover::after{
                    width: 100%;
                    filter: drop-shadow(2px 2px 2px #000);
                    
                }
                
                                /*------------------
                                    button styles
                                ------------------*/
                
                                .button-footer{
                                    font-family: 'Raleway', sans-serif;
                                    font-weight: 700;
                                    font-size: 16px;
                                    color: #182e4f;
                                    display: flex;
                                    gap: 0.7em;
                                    align-items: center;
                                    padding-left: 1.8rem;
                                    padding-right: 1.8rem;
                                    padding-top: 0.4rem;
                                    padding-bottom: 0.4rem;
                                    border-radius: 15px;
                                    border: none;
                                    border: 1px solid #ffffff;
                                    cursor: pointer;
                                    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.5);
                                }
                
                                .button-footer:hover{
                                    background-color: #182e4f;
                                    border: 2px solid #ffffff;
                                    color: white;
                                }
.info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 350px;
    position: relative;
    margin-bottom: 2rem;
}
.contact-info_container{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #182e4f;
}

.contact-info svg{
    height: 20px;
}

.logo-redesicons_container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#logo-color{
    border-right: 2px solid #182e4f;
    padding-right: 2rem;
}

#social-icon{
    width: 30px;
    cursor: pointer;
}

.social-icons_footer button{
    background-color: transparent;
    border: none;
}