/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


*{
    margin: 0%;
}

                /*------------------
                    banenrs styles
                ------------------*/

.banner-principal{
    background-image: url("../img/principal-banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    align-content: center;
}

.separated-top{
    height: 5px;
    color: rgba(38, 67, 111, 0);
}
.navar-content{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: rgba(38, 67, 111, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
}

                /*------------------
                    navar styles
                ------------------*/

.navar{
    display: flex;
    justify-content: space-between;
}

.navar img{
    filter: drop-shadow(2px 2px 2px #000);
    width: 110px;
}


.navigation-var{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navigation-var li{
    list-style-type: none;
}

.navigation-var a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    text-decoration: none;
}

.navigation-var a:hover{
    color: #F3C75D;
}

.navigation-var li::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: #F3C75D;
    display: block;
    transition: all 300ms;
    
}

.navigation-var li:hover::after{
    width: 100%;
    filter: drop-shadow(2px 2px 2px #000);
    
}

                /*------------------
                    button styles
                ------------------*/

                .button-asesoria{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: #26436F;
                    display: flex;
                    gap: 0.7em;
                    align-items: center;
                    background-color: #F3C75D;
                    padding-left: 1.8rem;
                    padding-right: 1.8rem;
                    padding-top: 0.4rem;
                    padding-bottom: 0.4rem;
                    border-radius: 15px;
                    border: none;
                    border: 1px solid #ffffff;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.5);
                    align-items: center;
                    justify-content: center;
                    max-width: 500px
                }

                .button-asesoria:hover{
                    background-color: #182e4f;
                    border: 2px solid #ffffff;
                    color: white;
                }


                /*------------------
                CTA banner styles
                ------------------*/

.CTA-banner{
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    float: right;
    margin-top: 9rem;
    margin-right: 4rem;
}

.CTA-banner h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #182e4f;
    text-shadow: 3px 3px 0px rgb(255, 255, 255), 
                -3px -3px 0px rgb(255, 255, 255),
                3px -3px 0px rgb(255, 255, 255),
                -3px 3px 0px rgb(255, 255, 255);
    text-align: center;
}

.CTA-banner h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #182e4f;
    text-shadow: 2px 2px 0px rgb(255, 255, 255), 
                -2px -2px 0px rgb(255, 255, 255),
                2px -2px 0px rgb(255, 255, 255),
                -2px 2px 0px rgb(255, 255, 255),
                0px -2px 0px rgb(255, 255, 255);
    text-align: center;
}

                /*------------------
                    main text styles 
                -------------------*/

.description-container{
    display: flex;
    align-items: center;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.description-main-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.description-main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description-main p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #182e4f;
    text-align: center;
    line-height: 160%;
}

.description-main img{
    width: 650px;
}


#separated-blue{
    width: 150px;
}

#social-icon{
    width: 30px;
}

.social-icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.social-icons-container p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #182e4f;
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-icons button{
    background-color: transparent;
    border: none;
}

#img-descrption-section{
    width: 450px;
}

                /*------------------
                        Galery 
                -------------------*/


.galey-container{
    background-color: #26436F;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.galey-container h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.galery-grid{
    display: grid;
    width: 80%; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

        /* 1 image */

.img-square1{
    background-image: url("../img/Rectangle 12.jpg");
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    cursor: pointer;
}


.img-square1:hover{
    height: 230px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-square1 div{
    height: 100%;
    opacity: 0;
}

.img-square1 div:hover{
    opacity: 1;
}

        /* 2 image */

.img-square2{
    background-image: url("../img/Rectangle 13.jpg");
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.img-square2:hover{
    height: 230px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-square2 div{
    height: 100%;
    opacity: 0;
}

.img-square2 div:hover{
    opacity: 1;
}

        /* 3 image */

.img-square3{
    background-image: url("../img/Rectangle 14.jpg");
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.img-square3:hover{
    height: 230px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-square3 div{
    height: 100%;
    opacity: 0;
}

.img-square3 div:hover{
    opacity: 1;
}

        /* 4 image */

        .img-rectangle{
            background-image: url("../img/Rectangle 15.jpg");
            background-size: cover;
            width: 710px;
            height: 210px;
            grid-column-start: span 2;
            border-radius: 7px;
            cursor: pointer;
        }
        
        .img-rectangle:hover{
            width: 690px;
            transition: all 500ms ease-out;
            filter: grayscale(80%);
        }

        .img-rectangle div{
            height: 100%;
            opacity: 0;
        }
        
        .img-rectangle div:hover{
            opacity: 1;
        }

        /* 5 image */

.img-square4{
    background-image: url("../img/Rectangle 16.jpg");
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.img-square4:hover{
    height: 230px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-square4 div{
    height: 100%;
    opacity: 0;
}

.img-square4 div:hover{
    opacity: 1;
}

        /* 6 image */

.img-square5{
    background-image: url("../img/Rectangle 17.jpg");
    background-size: cover;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.img-square5:hover{
    height: 230px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-square5 div{
    height: 100%;
    opacity: 0;
}

.img-square5 div:hover{
    opacity: 1;
}

        /* 7 image */

.img-rectangle-vertical{
    background-image: url("../img/Rectangle 18.jpg");
    background-size: cover;
    height: 470px;
    border-radius: 7px;
    grid-row-start: span 2;
    cursor: pointer;
}

.img-rectangle-vertical:hover{
    height: 450px;
    transition: all 500ms ease-out;
    filter: grayscale(80%);
}

.img-rectangle-vertical div{
    height: 100%;
    opacity: 0;
}

.img-rectangle-vertical div:hover{
    opacity: 1;
}

.content-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.content-img h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0px#26436F, 
                -2px -2px 0px #26436F,
                2px -2px 0px #26436F,
                -2px 2px 0px #26436F,
                0px -2px 0px #26436F,
                0px 2px 0px #26436F;
}

.content-img p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 0px#26436F, 
                -1px -1px 0px #26436F,
                1px -1px 0px #26436F,
                -1px 1px 0px #26436F,
                0px -1px 0px #26436F,
                0px 1px 0px #26436F;
    text-align: center;
}

                /*------------------
                        Galery 
                -------------------*/


.services-descriptio_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
    margin-bottom: 3rem;
}

.text-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    align-items: center;
}

.text-description h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #182e4f;
    text-align: center;
}

.text-description p{
font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #182e4f;
    text-align: center;
    line-height: 160%;
    }

                /*------------------
                    button styles
                ------------------*/

                .text-description button{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: #26436F;
                    display: flex;
                    gap: 0.7em;
                    align-items: center;
                    background-color: #F3C75D;
                    padding-left: 1.8rem;
                    padding-right: 1.8rem;
                    padding-top: 0.4rem;
                    padding-bottom: 0.4rem;
                    border-radius: 15px;
                    border: none;
                    border: 1px solid #ffffff;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.5);
                    align-items: center;
                    justify-content: center;
                    max-width: 500px
                }

                .text-description button:hover{
                    background-color: #182e4f;
                    border: 2px solid #ffffff;
                    color: white;
                }

.img-service-descriptio_container img{
    height: 350px;
}

                /*------------------
                    coments container
                ------------------*/

.coments-container{
    background-color: #F3C75D;
    width: 100%;
    height: 260px;
}
