/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


*{
    margin: 0%;
}

                /*------------------
                    Navar styles
                ------------------*/

.navar-content{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: rgba(38, 67, 111, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
}

                /*------------------
                    navar styles
                ------------------*/

.navar{
    display: flex;
    justify-content: space-between;
}

.navar img{
    filter: drop-shadow(2px 2px 2px #000);
    width: 110px;
}


.navigation-var{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navigation-var li{
    list-style-type: none;
}

.navigation-var a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    text-decoration: none;
}

.navigation-var a:hover{
    color: #F3C75D;
}

.navigation-var li::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: #F3C75D;
    display: block;
    transition: all 300ms;
    
}

.navigation-var li:hover::after{
    width: 100%;
    filter: drop-shadow(2px 2px 2px #000);
    
}

                /*------------------
                    button styles
                ------------------*/

                .button-asesoria{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: #26436F;
                    display: flex;
                    gap: 0.7em;
                    align-items: center;
                    background-color: #F3C75D;
                    padding-left: 1.8rem;
                    padding-right: 1.8rem;
                    padding-top: 0.4rem;
                    padding-bottom: 0.4rem;
                    border-radius: 15px;
                    border: none;
                    border: 1px solid #ffffff;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.5);
                }

                .button-asesoria:hover{
                    background-color: #182e4f;
                    border: 2px solid #ffffff;
                    color: white;
                }


                h1{
                    color: aqua;
                }